@import "../../../utilities/varaibles.scss";

.top__info {
  height: 140px;
  background-color: $master-color;
  .top__h1 {
    color: $text-color-1;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    top: 35px;

    .bi-chevron-left {
      color: $text-color-1;
    }
  }
  .hr {
    color: $master-color;
  }
}

.loan__component {
  width: 100%;
  height: 100vh;
  background-color: $master-color;
  text-align: center;
  .loan__img {
    width: 250px;
  }
  .loan__h1 {
    font-size: 1.5rem;
    top: 10px;
    margin-bottom: 13px;
    position: relative;
    color: $text-color-1;
  }

  .all__loans {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $text-color-1;
    position: relative;
    top: 50px;
    width: 90%;
    left: 20px;
    border-radius: 5px;
    padding: 10px;
    color: $master-color;
  }

  .simullate {
    position: relative;
    top: 10%;
    width: 150px;
    height: 50px;
    background-color: $text-color-1;
    color: $master-color;
    border: none;
    border-radius: 10px;
  }
}

//Resposive Area
@media (min-width: $layout-breakpoint-medium) {

  .loan__component {

    .loan__img {
      width: 350px;
    }
    .loan__h1 {
      font-size: 3rem;
    }

    .all__loans {
      width: 30%;
      height: 150px;
      margin-left: 34%;
    }
  }
}
