@import "../../../utilities/varaibles.scss";

.talk__with__us {
  height: 100vh;
  width: 100%;
  background-color: $second-color;

  .top__info {
    width: 100%;
    height: 15vh;
    .top__h1 {
      color: $text-color-1;
    }
  }

  .chat__input {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: $text-color-1;
    width: 80%;
    margin-left: 10%;
    position: relative;
    top: 15px;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.164);

    .chat__controls {
      background-color: transparent;
      width: 100%;
      height: 10vh;
      position: relative;
      top: 45%;
      border-radius: 10px;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.164);

      input {
        width: 100%;
        height: 70px;
        border-radius: 10px;
        border: none;
        background-color: $master-color;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.164);
        position: relative;
        top: 16%;
        left: -8px;
        color: $text-color-1;
        font-size: 1.2rem;

        &::placeholder {
          color: $text-color-1;
          position: relative;
          left: 10px;
          font-size: 1rem;
        }
      }
      .bi-send-fill {
        position: absolute;
        font-size: 1.2rem;
        color: $text-color-1;
        right: 6%;
        top: 40px;
        transform: rotate(42deg);
      }
    }
  }
}

@media (min-width: $layout-breakpoint-medium) {
  .talk__with__us {
    .chat__input {
      .chat__controls {
        input {
          left: -0px;
        }
      }
    }
  }
}
