.exchange__component {
    background-color:  #B297E6;
    width: 100%;
    height: 100vh;
}

.hr {
    color: #fff;
}

.ssj4 {
    font-size: 4.5rem;
    color: #fff;
}

.doll__icon, .eur__icon {
    width: 100px;
}

.top__itens {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 6%;
}

.main__itens_ex {
    width: 100%;
    height: 30vh;
    position: relative;
    top: 20%;
    text-align: center;
}

.iten__ex_1 {
    margin-bottom: 30px;
}

.iten__ex_2 {
    margin-bottom: 30px;
}

select {
    width: 70px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    color:  #B297E6;
}

input {
    width: 230px;
    height: 50px;
    position: relative;
    margin-left: 8px;
    font-size: 1.5rem;
}

.iten__ex_2 h1 {
    font-size: 1.4rem;
}