.bi-gear-fill {
    position: fixed;
    z-index: 999;
    color: #fff;
    font-size: 30px;
    top: 25px;
    left: 30px;
    cursor: pointer;
    margin-left: 80%;
    font-size: 25px;
}

.RightNav {
    background-color: rgb(8, 8, 88);
    height: 100vh;
    width: 45%;
    z-index: 4;
    float: right;
    position: fixed;
    margin-left: 55%;
}
.RightNav-toggle {
    background-color: rgb(8, 8, 88);
    height: 100vh;
    width: 0;
    z-index: 4;
    float: right; 
}

.RightNav >h3 {
    position: relative;
    top: 15%;
    margin-bottom: 40px;
    color: #fff;
    font-size: 16px;
}

.nav__items {
    position: relative;
    margin-left: 10%;
    margin-right: 10px;
}

.nav__items-toggle {
    display: none;
}