.account {
    width: 100%;
    height: 100vh;
    
}
.botton_account{
    background-color: whitesmoke;
}

.top_account {
    background-color: whitesmoke;
}
.infos__profile {
    width: 100%;
    height: 60vh;

    background-color:  #81B1CC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_pic {
    width: 120px;
    background-color: #fff;
    border-radius: 100px;
    padding: 5px;
    position: relative;
    top: 15%;
}

.your__name {
    font-size: 20px;
    top: 18%;
}

.your__email {
    position: relative;
    top: 20%;
    color: #fff;
    text-transform: none;
}

.balance__square {
    position: relative;
    text-align: center;
    background-color: #fff;
    width: 70%;
    height: 110px;
    top: -140px;
    margin-left: 15%;
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.22);
}

.tranfer,
.op_b,
.money {
    margin-bottom: 18px;
}

.op_b {
    top: 5px;
    position: relative;
    text-transform: uppercase;
    color: #688fa5;
    font-size: 14px;
}

.money {
    color:  #65889c;
    font-size: 22px;
    position: relative;
    top: -10px;
}

.tranfer {
    text-decoration: none;
    color: #fff;
    background-color:  #81B1CC ;
    text-transform: uppercase;
    font-size: .9rem;
    width: 110px;
    height: 38px;
    position: relative;
    top: -25px;
    border-radius: 5px;
    border: 0.5px solid  #81B1CC;
}

/*------------------------------------*/
.lattest {
    position: relative;
    top: -80px;
    text-align: center;
    text-transform: uppercase;
    color:  #81B1CC ;
    font-size: 15px;

    
}

.grid__trans {
    display: flex;
    column-gap: 25px;
    position: relative;
    top: -55px;
    margin-left: 4%;
    background-color: whitesmoke; 
}

.movings {
    position: relative;
    margin-left: 15px;
    font-size: 15px;
}

.movings h4 {
    margin-bottom: 13px;
    font-weight: lighter;
}

.fa-circle {
    margin-right: 10px;
    color:  #81B1CC;
}


.moving_cash>h4 {
    font-weight: lighter;
    margin-bottom: 5px;
}

.more {
    position: relative;
    font-size: 15px;
    margin-left: 75%;
    color:  #81B1CC ;
    display: block;
    top: -25px;
    
}