.navbar {
    background-color: rgb(23, 13, 196) ;
    height: 100vh;
    width: 40%;
    position: fixed;
    z-index: 4;
}

.navbar-toggle {
    background-color: rgb(23, 13, 196) ;
    height: 100vh;
    width: 0;
    z-index: 9999;
    position: fixed;
}

.navbar_itens {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 10%;
    top: 15%;
    color: #ffff;

}

.navbar_itens-toggle {
    display: none;
}

.navbar_itens>h3 {
    margin-bottom: 40px;
    font-size: 16px;
}

.nav__item {
    color: #ffff;
    margin-bottom: 55px;
    margin-right: 10px;
}

.bi-list {
    position: fixed;
    z-index: 999;
    color: #fff;
    font-size: 30px;
    top: 20px;
    left: 10px;
    cursor: pointer;
}