/*
HOME
*/
.home {
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  background-color: whitesmoke;
}

/*
TOP SIDE
*/
.top__side {
  background-color: #b297e6;
  top: -91px;
  position: relative;
  width: 100%;
  height: 50vh;
}

h1 {
  text-align: center;
  position: relative;
  top: 35%;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.logo {
  position: relative;
  top: 40%;
  margin-left: 23%;
  width: 280px;
}

/*
BOTTOM SIDE
*/

.bottom__side {
  display: grid;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 30px;
  position: relative;
  top: -10%;
}

.bottom__side input {
  height: 45px;
  width: 70%;
  margin-left: 15%;
  text-align: center;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.767);
  font-size: 1rem;
}

.login {
  text-decoration: none;
  width: 40%;
  height: 40px;
  margin-left: 30%;
  background-color: #b297e6;
  border-radius: 5px;
  border: none;
  box-shadow:   5px 5px 20px rgba(0, 0, 0, 0.20);
}

.Link- {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.forgot {
    text-decoration: none;
}