@import "../../utilities/varaibles.scss";

.home {
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  background-color: $second-color;

  .top__side {
    background-color: $master-color;
    top: -91px;
    position: relative;
    width: 100%;
    height: 50vh;

    h1 {
      text-align: center;
      position: relative;
      top: 35%;
      font-size: 2rem;
      color: $text-color-1;
      text-transform: uppercase;
      font-weight: 700;
    }

    .logo {
      position: relative;
      top: 40%;
      margin-left: 23%;
      width: 280px;
    }
  }

  .bottom__side {
    display: grid;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 30px;
    position: relative;
    top: -10%;

    input {
      height: 45px;
      width: 70%;
      margin-left: 15%;
      text-align: center;
      border-radius: 5px;
      border: 0.5px solid rgba(0, 0, 0, 0.767);
      font-size: 1rem;
    }

    .login {
      text-decoration: none;
      width: 40%;
      height: 40px;
      margin-left: 30%;
      background-color: $master-color;
      border-radius: 5px;
      border: none;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    }

    .Link- {
      color: $text-color-1;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;
    }
  }

  .forgot {
    text-decoration: none;
  }
}

//Resposive Area
@media (min-width: $layout-breakpoint-medium) {
  .top__side {
    h1 {
      font-size: 4.5rem !important;
    }

    .logo {
      margin-left: 43% !important;
    }
  }

  .bottom__side {
    top: -20% !important;

    input {
      width: 30% !important;
      margin-left: 35% !important;
    }

    .login {
      width: 10% !important;
      height: 50px !important;
      margin-left: 45% !important;
    }
  }
}
