@import "../../../utilities/varaibles.scss";

.savings__component {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: $master-color;

  .top__info {
    .top__h1 {
      color: $text-color-1;
      position: relative;
      top: 25px;
      .bi-chevron-left {
        color: $text-color-1;
      }
    }
  }

  .hr {
    color: $master-color;
  }

  .saves-img {
    width: 180px;
    border-radius: 100px;
    position: relative;
    top: 30px;

    &:hover {
      transition: 0.5s;
      transform: rotateY(360deg);
      cursor: pointer;
    }
  }
  .savings__h1 {
    position: relative;
    top: 40px;
    font-size: 1.5rem;
    color: $text-color-1;
  }

  .savings__cash {
    position: relative;
    top: 60px;
    font-size: 1.5rem;
    color: $text-color-1;
  }

  .operations--section {
    background-color: $text-color-1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 15%;
    width: 90%;
    padding: 10px;
    left: 20px;
    border-radius: 5px;

    .deposit,
    .withdraw {
      cursor: pointer;
      font-size: 1.2rem;
      color: $master-color;

      .fa-coins,
      .plus,
      .bi-coin {
        color: #b297e6;
        font-size: 2rem;
        cursor: pointer;
      }
    }
  }
}

//Resposive Area
@media (min-width: $layout-breakpoint-medium) {
  .savings__component {
    .top__info {
      .top__h1 {
        color: $text-color-1;
      }
    }



    .saves-img {
      width: 190px;
      top: 40px;
    }
    .savings__h1 {
      top: 45px;
      font-size: 2rem;
    }

    .savings__cash {
      font-size: 1.8rem;
    }

    .operations--section {  

      
      background-color: $text-color-1;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      position: relative;
      top: 15%;
      width: 40%;
      padding: 10px;
      margin-left: 30%;
      border-radius: 5px;

      .deposit,
      .withdraw {
        cursor: pointer;
        font-size: 1.2rem;
        color: $master-color;

        .fa-coins,
        .plus,
        .bi-coin {
          color: #b297e6;
          font-size: 2rem;
          cursor: pointer;
        }
      }
    }
  }
}
