.savings__component {
    width: 100%;
    height: 100vh;
    text-align: center;


}

.saves {
    width: 180px;
    border-radius: 100px;
    position: relative;
    top: 30px;


}

.saves:hover {
    transition: .5s;
    transform: rotateY(360deg);
    cursor: pointer;
}

.savings__h1 {
    position: relative;
    top: 40px;
    font-size: 1.5rem;
    
}

.savings__cash {
    position: relative;
    top: 60px;
    font-size: 1.5rem;
}

.op {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 15%; 
    width: 90%;
    padding: 10px;
    left: 20px; 
    border-radius: 5px;
}


.fa-coins, .plus, .bi-coin {
    color: #B297E6;
    font-size: 2rem;
    cursor: pointer;
}

.deposit, .withdraw {
    cursor: pointer;
    font-size: 1.2rem;
    color: #B297E6;
}
